.navbar {
    background-color: rgb(248, 244, 244);
    display: flex;
    justify-content: space-around;
    border-radius: 0.5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.7vh;
    padding: 0vh;
    margin: 0vh;
    gap: 2rem;
    height: 15vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-link{
        color: black;
        text-decoration: none;
        padding: 5vh 2vw;
        transition: background-color 0.3s ease;
    }

.nav-link2{
    color: rgb(13, 56, 196);
    text-decoration: none;
    padding: 2.5vh;
    transition: background-color 0.3s ease;
    margin-top: 2.5vh;

    
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        font-size: 2vh;
        height: auto;
    }
}
.nav-link3{

    color: rgb(223, 18, 18);
    text-decoration: none;
    padding: 5vh;
    transition: background-color 0.3s ease;
}
.nav-link4{

    color: rgb(23, 231, 47);
    text-decoration: none;
    padding: 5vh;
    transition: background-color 0.3s ease;

}
.nav-link5 {
    color: rgb(123, 17, 244);
    text-decoration: none;
    padding: 5vh;
    transition: background-color 0.3s ease;   
}

.nav-link:hover {
    background-color: rgb(163, 157, 157);
    color: #e5dddd;
    border-radius: 6vh;
    height: 3vh;
    margin-top: 1vh;
}

.nav-link2:hover {
    background-color: rgb(12, 25, 197);
    color: #e5dddd;
    border-radius: 7vh;
    height: 5vh;

}

.nav-link3:hover {
    background-color: rgb(205, 16, 16);
    color: #e5dddd;
    border-radius: 6vh;
    margin-top: 1vh;
    height: 3vh;
}

.nav-link4:hover {
    background-color: rgb(24, 213, 11);
    color: #e5dddd;
    border-radius: 6vh;
    margin-top: 1vh;
    height: 3vh;
}

.nav-link5:hover {
    background-color: rgb(132, 61, 199);
    color: #e5dddd;
    border-radius: 6vh;
    margin-top: 1vh;
    height: 3vh;
}

.dropbtn {
    padding: 4.4vh;
    margin-top: 0.5vh;
    height: 4vh;
    color: rgb(99, 97, 97);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: gray;
}

.dropdown-content a:hover {
    background-color: rgb(244, 238, 238);
}

.img1 {
    height: 11.5vh;
    width: 11.5vh; /* Corrigido */
    padding: 1vh;
    margin: 0;
}
.login {
    height: 9vh;
    width: 9vh;
    padding: 1vh;
    margin-top: 1vh;
}

.ajuste-nav-bar{

    height: 15vh;
    width: 100%;
background-color:rgb(248, 244, 244);
}

body {

    background: linear-gradient(to bottom, #87cbeb 50%, #eaeef0 100%);
    min-height: 100vh;
    margin: 0;
    color: black;
    overflow-x: hidden;
}


#quem-somos {
    position: relative;
    padding: 4vh;
    color: black;
    text-align: center;

}

#quem-somos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('close-up-people-studying-together\ 1.png') center/cover no-repeat;
    opacity: 0.8;
    z-index: 0;
    height: 100vh;



}

#quem-somos .content {
    position: relative;
    z-index: 2;

}

#quem-somos h1 {
    font-size: 7vh;
    color: black;
    font-family: "Fredoka", sans-serif;
    margin-bottom: 40px;
    font-weight: 700;
    position: relative;
    
}

#quem-somos p {
    font-size: 4vh;
    line-height: 1.6;
    color: black;
    text-align: center;
  
    font-family: "Poppins", sans-serif;
   
}
@media (max-width: 480px) {
    .quem-somos h1 {
        font-size: 2vh;
      
    }

    .quem-somos p {
        font-size: 1.4vh;
        
    }
}
.content2 {
    display: flex;
    align-items: flex-start;
    margin-top: 38vh;
   
    background-color: #87cbeb
    
}

.text-container {
    display: flex;
    font-size: 3.8vh;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    hyphens: auto;
    margin: 0 auto;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.icon {
    max-width: 30vw;
    height: auto;
    background-color: rgb(64, 190, 248);
    border-radius: 60%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 
}

#nossa {
    text-align: center;
    margin-bottom: 4vh;
    font-size: 6vh;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}

.content3 {
    
    display: flex;
    align-items: flex-start;
    padding: 4vh;
    background-color: #eaeef0;
}


.text-container2 {

    font-size: 3.1vh;
    flex-direction: column;

    max-width: 80%;
    margin-left: 4vw;

font-family: "Poppins", sans-serif;
display: flex;
justify-items: center;
align-items: center;
justify-content: center;

}

.text-container2 h2 {
    margin: 0 0 1vh 0;
    text-align: left;
}

.text-container2 p {
    margin: 0;
    background-color: rgb(64, 190, 248);
    padding: 2vh;
    border-radius: 1.5vh;
    box-shadow: 0.6vh 0.6vh 0.6vh 0.6vh rgba(16, 16, 127, 0.2);
}

.icon2 {
    max-width: 27vw;
    height: auto;
    position: relative;
    left: 3.5vw;
    top: -1.5vh;
}

.nossa2 {
    text-align: center;
    margin-bottom: 6vh;
    font-size: 5vh;
    position: relative;
    left: -1vw;
    top: -2.5vh;
    color: rgb(64, 190, 248);
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}

.nossa3 {
    text-align: center;
    margin-bottom: 4vh;
    color: rgb(64, 190, 248);
    font-size: 4vh;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}

.escola-h2{

    font-size: 6vh;
    font-family: "Fredoka", sans-serif;
text-align: center;
}

/*slides*/

* Slideshow container */
.slideshow-container {

    width: 70%;
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    height: auto;
    margin: auto;
    background-color: #5c6a70;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
   




/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slide {
    animation-name: slideIn;
    animation-duration: 1.5s;
 
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
section.slider {
    width: 70%;
    height: 70%; /* Ajuste a altura conforme necessário */
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    background: #fff; /* Fundo branco para o carrossel */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao contêiner */
  }



/* Footer */
.footer {
    background: linear-gradient(to bottom,  #9adefd , #109ddf);
    color: white;
    text-align: center;
    padding: 2vh;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 1vh;
}

.footer-column h3 {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.5vh;
}

.footer-column a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.social-icons ul {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin-right: 1vw;
}

.social-icons img {
    vertical-align: middle;
}

.footer-bottom {
    margin-top: 2vh;
    font-size: 1.6vh;
}
