body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 20vh;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .payment-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .payment-option:hover {
    background-color: #f0f0f0;
  }
  
  .payment-option img {
    width: 30px;
    margin-right: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  .previous {
    background-color: #f44336;
  }

  button {
    background: linear-gradient(90deg, #a652f9, #ee68f6);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5vh;
  }
  
  button:hover {
    background: linear-gradient(90deg, #ee68f6, #a652f9);
  }
a{
  text-decoration: none;
}