
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f3f3f3;
        }

        .container {
            background-color: white;
            width: 90%;
            max-width: 600px;
            padding: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            
        }

        h1, h2 {
            text-align: center;
            color: #5D3FD3;
        }

        .terms {
            font-size: 14px;
            text-align: justify;
            max-height: 300px;
            overflow-y: auto;
            margin-bottom: 20px;
            padding-right: 10px;
            height: 200vh;
        }

        .terms p {
            margin: 10px 0;
            text-align: center;
            justify-content: center;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .buttons button {
            background-color: #5D3FD3;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .buttons button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        .checkbox-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .checkbox-container input {
            margin-right: 10px;
        }

   