* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #e0c8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }
  
  .container1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 110vh;
  }
  
  h1 {
    text-align: center;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h2 {
    text-align: center;
    color: #6b3fa0;
    font-weight: bold;
    margin-bottom: 5vh;
    text-decoration: underline;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 2.5vh;
    font-weight: bold;
  }
  
  input[type="text"], input[type="date"] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5vh;
    background: linear-gradient(90deg, #a652f9, #ee68f6);
    color: white;
    font-size: 16px;
  }
  
  .sexo-options {
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
  }
  
  .sexo-options label {
    margin-right: 20px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
    width: 15%;
  }
  
  button {
    background: linear-gradient(90deg, #a652f9, #ee68f6);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5vh;
    width: 100%;

  }
  
  button:hover {
    background: linear-gradient(90deg, #ee68f6, #a652f9);
  }

  /* Estilização geral */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.container2 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

